@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../node_modules/primereact/resources/themes/saga-blue/theme.css";
              
@import "../node_modules/primeicons/primeicons.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import "../node_modules/primereact/resources/primereact.min.css";   


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f9f9f9;
}

.permissions-page h1{
  margin: 20px auto;
  text-align: center;
}

.permissions-page h3{
  margin: 20px auto;
  text-align: center;
}

.permissions-page .permissions-list{
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 30px 0;
}

.permissions-page .permissions-list table .btn{
  margin: 0 5px;
}

.permissions-page .addNewPermission{
  text-align: right;
  margin-bottom: 20px;
}

.permissions-page .addNewPermission .btn i{
  padding: 0 10px;
}

.permission-view h1{
  margin: 0;
  margin-bottom: 20px;
  color:#333;
  font-size: 22px;
  font-weight: bold;
}

.permission-view .box{
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.permission-view p{
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.permission-view p span{
  display: inline-block;
  min-width: 130px;
}

.permission-view p span:first-child{
  color:#6c757d;
}

.permission-view p span:last-child{
  color:#333;
  font-weight: bold;
}

._add-view p{
  border-bottom: none;
}

._add-view p input{
  margin: 5px 0;
  font-size: 14px;
}